.profile__container {
  max-width: 336px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  .profile__container {
      max-width: 300px;
      justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .profile__container {
      max-width: 282px;
  }
}