.profile__add-button {
    width: 150px;
    height: 50px;
    background-color: black;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background-image: url(../../../images/profile/Add-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.3s;
}

.profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 1279px) {
    .profile__add-button {
        width: 100px;
    }
}

@media screen and (max-width: 1023px) {
    .profile__add-button {
        width: 200px;
    }
}

@media screen and (max-width: 767px) {
    .profile__add-button {
        width: 282px;
    }
}
