.header__user-email {
  padding-top: 45px;
  padding-right: 24px;
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #FFFFFF;
  text-decoration: none;
}